// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.text-orange {
    color: #fc5603;
}
.text-light-orange{
    color: #fc7703;
}

.btn {
    border-radius: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.5s;
    &:hover {
        border-radius: 15px 2px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}




/**
    switch
 */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: ease-out .5s;
    transition: ease-out .5s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: ease-out .5s;
    transition: ease-out .5s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.switch.stock i, .switch.allergen i{
    &.fa-store{
        color: rgba(var(--bs-danger-rgb));
    }
    &.fa-triangle-exclamation {
        color: #ccc;
    }

    transition: ease-out .5s;
    top: 10px;
    position: absolute;
    left: 10px;
}

input:checked + .slider i{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    &.fa-store{
        color: rgba(var(--bs-success-rgb));
    }
    &.fa-triangle-exclamation {
        color: rgba(var(--bs-danger-rgb));
    }


}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.img-label{
    height : 30px;
    width : auto;
}
table.listing tbody tr{
    transition: background-color 0.7s;
    &:hover {
        background-color: #c5e8ef;
    }
}

.fade-in {
    animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
#content-wrapper {
    display: flex;
    //pour la barre de navigation en position fixed
    margin-top: 55px;

    .sidebar-wrapper {
        min-height: calc(100vh - 55px);
        min-width: 250px;
    }
    .card.main {
        border-radius: 0;
        height: 100%;
        .card-header {
            h3 {
                margin-bottom: 0;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

